- if !@user.avatar.nil?
  = image_tag(@user.avatar.url(), :alt => @user.username)

h1= @user.username

- if current_user.id == @user.id
  = link_to("Editar mi perfil", edit_user_registration_path, :style => "color:#000")

.bio= @user.bio

h2 Booms

- if !@booms
  p Aún no has creado booms
- else
  ul.booms
  - @booms.each do |boom|
    = boom.id
    li
      - boom_permalink = boom_path(boom.category.slug, boom.slug)
      - if boom.image
        - image = image_tag(boom.image.path_url(:wide_thumb), :alt=> boom.title)
        = link_to(image, boom_permalink)
      span(class="category #{boom.category.slug}")= boom.category.name
      h3= link_to(boom.title, boom_permalink)
      h3= link_to("Leer Boom", boom_permalink, :class => "boom-moar")

  = paginate @booms
