div.daily.block-sidebar
  h2.block-title 7 Diarios
  .bordered
    h3.daily-title 7 Consejos para el apocalipso
    ul.row-list
      li.odd
        p.position 1
        h4.single Qué dios te agarre confesado
        p Vestibulum vulputate sagittis nulla at cursus. In quis mauris non.
      li.even
        p.position 2
        h4.single Qué dios te agarre confesado
        p Vestibulum vulputate sagittis nulla at cursus. In quis mauris non.
      li.odd
        p.position 3
        h4.single Qué dios te agarre confesado
        p Vestibulum vulputate sagittis nulla at cursus. In quis mauris non.
      li.even
        p.position 4
        h4.single Qué dios te agarre confesado
        p Vestibulum vulputate sagittis nulla at cursus. In quis mauris non.
      li.odd
        p.position 5
        h4.single Qué dios te agarre confesado
        p Vestibulum vulputate sagittis nulla at cursus. In quis mauris non.
      li.even
        p.position 6
        h4.single Qué dios te agarre confesado
        p Vestibulum vulputate sagittis nulla at cursus. In quis mauris non.
      li.odd
        p.position 7
        h4.single Qué dios te agarre confesado
        p Vestibulum vulputate sagittis nulla at cursus. In quis mauris non.
    = link_to "Ver más", "#", :class => "more"
