footer.main
  div.wrapper.cf
    div.about
      p.head
        = "Sobre "
        span.sp-button 7boom
      p 7boom es una herramienta de socialización 
        a partir de tu opinión. El espacio donde 
        tú ordenas al mundo como tú quieras.
      p El límite es el siete.

      ul.social.cf
        li.fb = link_to "facebook", "#", :class => "sp-button"
        li.tw = link_to "twitter", "#", :class => "sp-button"

      p
        = "7boom es un sitio de "
        = link_to "Brutal Content", "#", :class => "sp-button brutal"

    div.brands
      p.head TU MARCA
      p ¿Te interesa anunciarte en 7boom?
      p Contáctanos:
      p = link_to "contacto@7boom.mx", "mailto:contacto@7boom.mx"
      p.benefits ¡Checa los beneficios!
      = link_to "CLIC AQUÍ", "#", :class => "gr-button"

    div.newsletter
      p.head Recibe nuestro newsletter
      form
        input type="textbox" placeholder="Nombre"
        input type="textbox" placeholder="Correo electrónico"
        = submit_tag "Enviar", :class => "gr-button"
      p Copyright © 2012 · All Rights Reserved
