header.main
  div.wrapper.cf
    nav.cf
      = link_to image_tag("logo.png", {:alt => "7boom", :width => "163", :height => "92"}), root_url, :class => "to-home"
      ul.cf.left-side
        li
          = link_to "Música", "#"
        li
          = link_to "Sexo", "#"
        li
          = link_to "Cine", "#"
        li
          = link_to "Tecnología", "#"
        li
          = link_to "Deportes", "#"
        li
          = link_to "Gourmet", "#"
        li
          = link_to "TV", "#"
        li
          = link_to "Humor", "#"
        li
          = link_to "+", "#"
        li
          form.search-box
            input type="textbox"
            = submit_tag "Buscar", :class => 'sp-button'
    p.tab-button
      = link_to new_boom_path do
        = "Crea tu "
        span.sp-button boom
