div#main-slider.slider
  div.nav
    = link_to "Anterior", "#", :class => "prev sp-button"
    = link_to "Siguiente", "#", :class => "next sp-button"
  ul.slides.cf
    - @slider.each do |boom|
      - url = boom_path(boom.category.slug, boom.slug)
      li.left-side
        = link_to image_tag(boom.image.path_url(:large), :alt => boom.title), url, { :class => "left-side"}
        div.info.right-side
          h2
            = link_to boom.title, url
          p.author
            = "Por "
            = link_to boom.user.username, user_profile_path(boom.user.id, boom.user.username)
          p.excerpt
            = boom.summary

  ul.thumbs.cf
    - @slider.each do |boom|
      - url = boom_path(boom.category.slug, boom.slug)
      li.left-side
        = link_to image_tag(boom.image.path_url(:thumb), :alt => boom.title), url
