#tops.block-sidebar
  ul.tabs
    li.active
        = link_to "Más vistos", "#mas-vistos"
    li
        = link_to "Más comentados", "#mas-comentados"

  .tabbed-content
    ul.row-list.active#mas-vistos
      li.cf.odd
        = link_to image_tag("http://placehold.it/60x60"), "#", :class => "left-side"
        h3 = link_to "Las 7 narices más bonitas del cine de acción", "#"
        = link_to "Juani Juanon", "#", :class => "author"
      li.cf.even
        = link_to image_tag("http://placehold.it/60x60"), "#", :class => "left-side"
        h3 = link_to "Las 7 narices más bonitas del cine de acción", "#"
        = link_to "Juani Juanon", "#", :class => "author"
      li.cf.odd
        = link_to image_tag("http://placehold.it/60x60"), "#", :class => "left-side"
        h3 = link_to "Las 7 narices más bonitas del cine de acción", "#"
        = link_to "Juani Juanon", "#", :class => "author"
      li.cf.even
        = link_to image_tag("http://placehold.it/60x60"), "#", :class => "left-side"
        h3 = link_to "Las 7 narices más bonitas del cine de acción", "#"
        = link_to "Juani Juanon", "#", :class => "author"
      li.cf.odd
        = link_to image_tag("http://placehold.it/60x60"), "#", :class => "left-side"
        h3 = link_to "Las 7 narices más bonitas del cine de acción", "#"
        = link_to "Juani Juanon", "#", :class => "author"

    ul.row-list#mas-comentados
      li.cf.odd
        = link_to image_tag("http://placehold.it/60x60"), "#", :class => "left-side"
        h3 = link_to "Las 99 narices más bonitas del cine de acción", "#"
        = link_to "Juani Juanon", "#", :class => "author"
      li.cf.even
        = link_to image_tag("http://placehold.it/60x60"), "#", :class => "left-side"
        h3 = link_to "Las 7 narices más bonitas del cine de acción", "#"
        = link_to "Juani Juanon", "#", :class => "author"
      li.cf.odd
        = link_to image_tag("http://placehold.it/60x60"), "#", :class => "left-side"
        h3 = link_to "Las 7 narices más bonitas del cine de acción", "#"
        = link_to "Juani Juanon", "#", :class => "author"
      li.cf.even
        = link_to image_tag("http://placehold.it/60x60"), "#", :class => "left-side"
        h3 = link_to "Las 7 narices más bonitas del cine de acción", "#"
        = link_to "Juani Juanon", "#", :class => "author"
      li.cf.odd
        = link_to image_tag("http://placehold.it/60x60"), "#", :class => "left-side"
        h3 = link_to "Las 7 narices más bonitas del cine de acción", "#"
        = link_to "Juani Juanon", "#", :class => "author"
