div#user-panel.user-panel
  - if user_signed_in?
    div.bar-toggle.cf
      div.left-side.social
        ul
          li.tw-follow
            h2 Síguenos:
            = link_to "@7_boom", "#"
          li.fb-like-button
      div.right-side.quick-access
        div.left-side.cf
          ul.quick-options.left-side
            li.dropdown
              / Estos son los links de manejo de sesión
              / hay que usar user_signed_in? para evaluar
              / si el usuario ya está registrado.
              = "Bienvenido "
              strong = link_to current_user.username, user_profile_path(current_user.id, current_user.username)
              ul.dropdown-content
                li
                  p = link_to 'Editar mi perfil', edit_user_registration_path
                li
                  p = link_to 'Cerrar sesión', destroy_user_session_path
            li#panel-trigger
              = "Tu panel"

    .panel#panel
      #panel-wrap.collapse
        .profile.left-side
          .card.col-2.cf
            .column#profile-info
              - if current_user.avatar
                = link_to image_tag(current_user.avatar_url, :alt => current_user.username), "#", :class => "pull-left user-thumb"
              .info
                h2.profile-username
                  = link_to current_user.username, user_profile_path(current_user.id, current_user.username)
                ul.options
                  li
                    = link_to "Editar perfil", edit_user_registration_path, :class => "arrow"
                  li
                    = link_to "Cambiar foto", "#", :class => "arrow"
                .bio
                  p.subtitle BIO:
                  = current_user.bio
            .column#connect
              p
                = link_to "FacebookAccount", "#", :class => "fb-connect"
                = link_to "TwitterAccount", "#", :class => "tw-connect"

          .columns.col-2#user-social-interaction
            .column.following
              h3.subtitle Boomers que sigues
              ul.cf
                li.left-side
                  = link_to image_tag("http://lorempixel.com/50/50/people/1"), "#"
                li.left-side
                  = link_to image_tag("http://lorempixel.com/50/50/people"), "#"
                li.left-side
                  = link_to image_tag("http://lorempixel.com/50/50/people/3"), "#"
                li.left-side
                  = link_to image_tag("http://lorempixel.com/50/50/people/4"), "#"
                li.left-side
                  = link_to image_tag("http://lorempixel.com/50/50/people/5"), "#"
                li.left-side
                  = link_to image_tag("http://lorempixel.com/50/50/people/6"), "#"
                li.left-side
                  = link_to image_tag("http://lorempixel.com/50/50/people/7"), "#"
              p = link_to "Ver todos", "#", :class => "arrow"
            .column.badges
              h3.subtitle Badges

        .right-side.tab-block.tabs-2#panel-activity
          ul.tabs
            li.active
              a[href="#panel-user-activity"] Actividad
            li
              a[href="#panel-user-favs"] Favoritos
          .tabbed-content
            .tab-content.active#panel-user-activity
              ul.activity-list
                - @placeholder = [1, 2, 3, 4, 5, 6, 7]
                - @placeholder.each do |el|
                  li 
                    = link_to image_tag('http://placehold.it/50x50'), '#', :class => 'activity-thumb' 
                    p.activity-description
                      = "Activity"
                      = el

            .tab-content#panel-user-favs
              ul.activity-list
                - @placeholder.each do |el|
                  li 
                    = link_to image_tag('http://placehold.it/50x50'), '#', :class => 'activity-thumb' 
                    p.activity-description
                      = "Fav"
                      = el
                

  - else
    .bar-toggle.not-signed.cf
      .left-side.social
        ul
          li.tw-follow
            h2 Síguenos:
            = link_to "@7_boom", "#"
          li.fb-like-button


      .right-side.quick-access
        ul.quick-options
          li
             = link_to "Ya tengo cuenta", new_user_session_path
          li
             = link_to "Regístrate", new_user_registration_path
          li.tw-login
             = link_to "Entra con twitter", user_omniauth_authorize_path(:twitter)
          li.fb-login
             = link_to "Entra con facebook", user_omniauth_authorize_path(:facebook)
