doctype 5
html
  head
    title = content_for(:title)
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'
  body
    .viewport
      - if !notice.nil?
        .notice= notice
      - if !alert.nil?
        .alert= alert

      = render 'layouts/header'

      div.wrapper.cf
        = render 'layouts/user_panel'
        - if @slider
          = render 'layouts/main_slider'

        div.content.left-side
          = yield

        = render 'layouts/sidebar'

      = render 'layouts/footer'
      = javascript_include_tag "application"
      = yield(:javascripts)

      #fb-root

      javascript:
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
