- action = "/boom/%s" % [!@fav.id ? 'fav' : 'unfav']
- text   = !@fav.id ? 'Agregar a mis favoritos' : 'Quitar de mis favoritos'
= semantic_form_for @fav, :url => action  do |b|
  = b.input :boom_id,
            :as => :hidden,
            :value => @boom.id
  = b.action :submit, :label => text
