div.cf.recommended.list.cols-2
  p.block-title Recomendados
  ul
    li.boom.cat-1.odd
      div.image-block
        = link_to image_tag("http://placehold.it/327x165"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3.px18 = link_to "Fusce in tortor eu quam pellentesque condimentum at et, zomfg, más texto y más texto, omg.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
    li.boom.cat-2.even
      div.image-block
        = link_to image_tag("http://placehold.it/327x165"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3.px18 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
    li.boom.cat-3.odd
      div.image-block
        = link_to image_tag("http://placehold.it/327x165"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3.px18 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
    li.boom.cat-4.even
      div.image-block
        = link_to image_tag("http://placehold.it/327x165"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3.px18 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"

    /Three Columns
    li.boom.cat-5.left-side.small-thumb
      div.image-block
        = link_to image_tag("http://placehold.it/217x109"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
    li.boom.cat-6.left-side.small-thumb
      div.image-block
        = link_to image_tag("http://placehold.it/217x109"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
    li.boom.cat-7.left-side.small-thumb
      div.image-block
        = link_to image_tag("http://placehold.it/217x109"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
