div.user-booms.list.cf.cols-3
  p.block-title Booms de usuarios
  ul
    li.boom.cat-1.left-side.first
      div.image-block
        = link_to image_tag("http://placehold.it/217x109"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
    li.boom.cat-2.left-side
      div.image-block
        = link_to image_tag("http://placehold.it/217x109"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
    li.boom.cat-3.left-side
      div.image-block
        = link_to image_tag("http://placehold.it/217x109"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
    li.boom.cat-4.left-side.first
      div.image-block
        = link_to image_tag("http://placehold.it/217x109"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
    li.boom.cat-5.left-side
      div.image-block
        = link_to image_tag("http://placehold.it/217x109"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
    li.boom.cat-6.left-side
      div.image-block
        = link_to image_tag("http://placehold.it/217x109"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
    li.boom.cat-7.left-side.first
      div.image-block
        = link_to image_tag("http://placehold.it/217x109"), "#", {:class => "list-thumb"}
        p.category
          = link_to "Música", "#"
      div
        h3 = link_to "Fusce in tortor eu quam pellentesque condimentum at et.", "#"
        p.info
          = link_to "Por Usuario Juani, ", "#", :class => "author"
          = "20 de abril 2013"
  = link_to image_tag("http://www.placehold.it/388x177", :alt => "Placeholder"), "#", :class => "right-side"
