- if @weekly
  div.weekly.list
    p.block-title Booms de la semana
    ul
      - @weekly.list_element.each do |element|
        li class="cf boom cat-#{element.boom.category.position}"
          p.position.left-side
            span = element.position
          div.image-block.left-side
            = link_to image_tag(element.image.path_url(:wide_thumb), :alt => element.title), element.url, {:class => "list-thumb"}
            p.category
              = link_to element.boom.category.name, element.boom.category.slug
          div.title-block
            div.multi-line
              h3.px18.title = link_to element.title, element.url
              p.info
                = link_to "Por #{element.boom.user.username}, ", "usuario/#{element.boom.user.id}", :class => "author"
                = I18n.l element.boom.created_at, :format => :lists
- else
  h2 No hay booms semanales :(
