article.boom
  - title "Crea tu boom"
  
  - target = @boom.id ? edit_boom_path(@boom.id) : new_boom_path
  
  
  = semantic_form_for @boom, :url => target, :multipart => true do |f|
  
    = f.semantic_errors *f.object.errors.keys
  
    = f.inputs "Crea tu Boom" do
      header.cf
        div.image-block 
          = f.fields_for :image do |i|
            = i.input :path,
              :label => 'Imagen',
              :hint => i.object[:path] ? f.template.image_tag("/uploads/image/path/%s/thumb_%s" % [i.object[:id], i.object[:path]]) : ""
          - if f.object.image.nil?
            = f.fields_for :image_attributes do |im|
              = im.input :path,
                :label => 'Imagen',
                :as => 'file',
                :hint => "Agrega una imagen para per la previsualización"
          p.category
            = f.input :category_id,
              :as => :select,
              :collection => Category.all,
              :include_blank => false,
              :label => 'Categoría',
              :input_html => {:class => "formtasty"},
              :wrap_html => {}
            
        h1   
          = f.input :title, 
            :label => 'Título', 
            :input_html => {:class => "masked-input-text formtasty", :placeholder => 'Escribe aquí tu título'}
        .summary
          = f.input :summary, 
            :label => 'Descripción', 
            :input_html => {:class => "tinymce"}
        .tags
          = f.input :tag_list,
              :label => 'Tags',
              :hint => 'Separados por comas'
    
      = f.fields_for :element do |el|
        - @i += 1
        section.boom-element
          div.cf.element-top
            p.position.left-side
             span = @i
            div.title-block
              div.multi-line
                = el.input :position,
                  :as => 'hidden',
                  :wrapper_html => {:style => "display:none"},
                  :value => @i
                = el.input :title, 
                  :label => false, 
                  :placeholder => "Título del boom %s" % @i,
                  :input_html => {:class => 'masked-input-text'}
                  
          div.content-blocks
            = el.input :content, 
              :label => false
      
            = el.fields_for :image do |im|
              = im.input :path, :label => 'Imagen',
                :hint => im.object[:path] ? el.template.image_tag("/uploads/image/path/%s/thumb_%s" % [im.object[:id],
                im.object[:path]]) : ""
      
            - if el.object.image.nil?
              = el.fields_for :image_attributes do |im|
                = im.input :path,
                  :label => 'Imagen',
                  :as => 'file',
                  :hint => "Agrega una imagen para per la previsualización"
  
    = f.action :submit, :label => '¡Publicar!'
