- title "%s | 7boom" % @boom.title
- author = @boom.user
article class="boom cat-#{@boom.category.position}"
  header.cf
    div.image-block
      = image_tag @boom.image.path_url(:large), :alt => @boom.title
      p.category
        = link_to @boom.category.name, @boom.category.slug
    h1 = @boom.title
    p.summary
      = @boom.summary
    div.cf.social-bar
      div.text-block.left-side
        - if author.avatar
          = link_to image_tag(author.avatar_url(:small_thumb), :alt => "Usuario: #{author.username}"), "usuario/#{@boom.user_id}", :class => "user-thumb"
        div.multi-line
          p.info
            = "Por "
            = link_to "#{author.username} ", "usuario/#{author.id}", :class => "author"
      div.social
        p COMPARTE:
        a.twitter-share-button href="https://twitter.com/share" data-lang="es"
          = "Tweet"
        div.fb-like data-href="http://local.7boom.mx" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"

  - @boom.element.order("position DESC").each do |el|
    section.boom-element
      div.cf.element-top
        p class="position left-side pos-#{el.position}"
          span = el.position
        div.title-block
          div.multi-line
            h2 = el.title
      div.content-blocks
        - if el.image
          div.block
            = image_tag el.image.path_url(:boom), :alt => el.title
        - if el.content
          div.block
            p = el.content

  footer
    p tags
    div.social
      p COMPARTE:
      a.twitter-share-button href="https://twitter.com/share" data-lang="es"
        = "Tweet"
      div.fb-like data-href="http://local.7boom.mx" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"
    div.text-block.left-side
      - if author.avatar
        = link_to image_tag(author.avatar_url(:medium_thumb), :alt => "Usuario: #{author.username}"), "usuario/#{@boom.user_id}", :class => "user-thumb"
      div.multi-line
        p.info
          = "Publicado por "
          = link_to "#{author.username} ", "usuario/#{author.id}", :class => "author"
        p.bio = author.bio


- if current_user and current_user.id == @boom.user_id
  = link_to("Editar", edit_boom_path(@boom.id))

javascript:
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
div#fb-root
  javascript:
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=140063816168588";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
