- if @boom.element.empty?
  - 7.times { @boom.element.build }
= semantic_form_for [:admin, @boom], :multipart => true do |f|

  = f.semantic_errors *f.object.errors.keys

  = f.inputs "Boom" do

    = f.input :user_id,
        :as => :select,
        :collection => User.all,
        :label => 'Autor'
    = f.input :title,   :label => 'Título'
    = f.input :summary, :label => 'Descripción', :class => 'tinymce'
    = f.input :category_id,
        :as => :select,
        :collection => Category.all,
        :label => 'Categoría'

    = f.fields_for :image do |i|
      = i.input :path,
        :label => 'Imagen',
        :hint => i.object[:path] ? f.template.image_tag("/uploads/image/path/%s/thumb_%s" % [i.object[:id], i.object[:path]]) : ""

    - if f.object.image.nil?
      = f.fields_for :image_attributes do |im|
        = im.input :path,
          :label => 'Imagen',
          :as => 'file',
          :hint => "Agrega una imagen para per la previsualización"

    = f.input :tag_list,
        :label => 'Tags',
        :hint => 'Separados por comas'

    = f.input :featured,
              :label => '¿Es destacado?',
              :as => :just_datetime_picker

    = f.input :nsfw, :label => '¿Es NSFW?'

  = f.inputs "Puntos" do

    = f.fields_for :element do |el|

      = el.input :title, :label => 'Título'
      = el.input :content, :label => 'Contenido'

      = el.fields_for :image do |im|
        = im.input :path, :label => 'Imagen',
          :hint => im.object[:path] ? el.template.image_tag("/uploads/image/path/%s/thumb_%s" % [im.object[:id],
          im.object[:path]]) : ""

      - if el.object.image.nil?
        = el.fields_for :image_attributes do |im|
          = im.input :path,
            :label => 'Imagen',
            :as => 'file',
            :hint => "Agrega tu imagen para ver la previsualización"

      hr

  = f.actions
