- if @list_group.list_element.empty?
  - 7.times { @list_group.list_element.build }

= semantic_form_for [:admin, @list_group], :multipart => true do |f|

  = f.semantic_errors *f.object.errors.keys

  = f.inputs "#{f.object.name} para #{f.object.block}" do
    - @i = 0

    = f.fields_for :list_element do |el|
      - @i += 1

      = el.input :title, :label => 'Título'
      = el.input :summary, :label => 'Resumen'
      = el.input :url, :label => 'URL del boom'
      = el.input :position,
        :as => 'hidden',
        :value => @i

      = el.input :boom_id, :label => 'boom_id',
        :hint => "Campo temporal mientras funciona el search"

      = el.fields_for :image do |im|
        = im.input :path, :label => 'Imagen',
          :hint => im.object[:path] ? el.template.image_tag("/uploads/image/path/%s/thumb_%s" % [im.object[:id],
          im.object[:path]]) : ""

      - if el.object.image.nil?
        = el.fields_for :image_attributes do |im|
          = im.input :path,
            :label => 'Imagen',
            :as => 'file',
            :hint => "Agrega tu imagen para ver la previsualización"
  hr

  = f.actions

  /TODO Busqueda de booms
  = semantic_form_for Boom.new, :url => 'search/booms' do |f|
    = f.semantic_errors *f.object.errors.keys
    = f.fields_for :boom do |bm|
      = bm.input :title, :label => "Busca un boom"
    = f.actions
