h1 OLA
h2
  | Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  div
    = f.label :username
    | 
    = f.text_field :username, :autofocus => true
  div
    = f.label :email
    | 
    = f.email_field :email
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    div
      | Currently waiting confirmation for: #{resource.unconfirmed_email}
  div
    = f.label :avatar
    = f.file_field :avatar
    = f.hidden_field :avatar_cache
  div
    - if current_user.avatar.url.present?
      = image_tag(current_user.avatar.small_thumb.url)
      = f.label :remove_avatar, "Borrar avatar actual"
      = f.check_box :remove_avatar
  div
    = f.label :password
    i (leave blank if you don't want to change it)
    | 
    = f.password_field :password, :autocomplete => "off"
  div
    = f.label :password_confirmation
    | 
    = f.password_field :password_confirmation

  / quienes se registraron con fb/tw no tienen password
  - if !current_user.provider
    - if f.object.encrypted_password.present?
      div
        = f.label :current_password
        i (we need your current password to confirm your changes)
        | 
        = f.password_field :current_password

  div= f.submit "Update"
h3 Cancel my account
/ TODO: revisar la confirmación de borrado
- button = button_to "Borrar mi cuenta", registration_path(resource_name), :onclick => "return:confirm('¿Estas seguro?');", :method => :delete
p
  | Unhappy? #{button}.
= link_to "Back", :back
