/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= stub active_admin
 */
$shadow: 0 0 5px rgba(0, 0, 0, .5) 
$orange: #ff702b
$max-width: 85.33333333em

.collapse
  display: none

@mixin gradient-tb($c1, $c2)
  background: -moz-linear-gradient(top,  $c1 0%, $c2 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$c1), color-stop(100%,$c2))
  background: -webkit-linear-gradient(top,  $c1 0%, $c2 100%)
  background: -o-linear-gradient(top,  $c1 0%,$c2 100%)
  background: -ms-linear-gradient(top,  $c1 0%,$c2 100%)
  background: linear-gradient(to bottom,  $c1 0%, $c2 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$c1}', endColorstr='#{$c2}',GradientType=0 )
@mixin transition($property, $time)
  -webkit-transition: $property $time
  -moz-transition:    $property $time
  -ms-transition:     $property $time
  -o-transition:      $property $time
  transition:         $property $time
@mixin box-shadow($value)
  -moz-box-shadow: $value
  -webkit-box-shadow: $value
  box-shadow: $value
@mixin selectable($value)
  -webkit-user-select: $value  
  -moz-user-select: $value     
  -ms-user-select: $value
  -o-user-select: $value
  user-select: $value     
@mixin radius($value)
  -moz-border-radius: $value
  -webkit-border-radius: $value
  border-radius: $value
  behavior: url(/assets/pie.htc)
@mixin appearance($value)
  -webkit-appearance: $value
  -moz-appearance: $value
  appearance: $value

@mixin lato
  font-family: 'Lato', sans-serif

@mixin proxima
  font-family: 'Proxima', sans-serif

@mixin helv
  font-family: 'Helvetica', 'Arial', sans-serif


@font-face
  font-family: 'Proxima'
  src: url('proximanova-extrabold-webfont.eot')
  src: url('proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('proximanova-extrabold-webfont.woff') format('woff'), url('proximanova-extrabold-webfont.ttf') format('truetype')
@font-face
  font-family: 'typecons'
  src: url('typecons.eot')
  src: url('typecons.eot?#iefix') format('embedded-opentype'),url('typecons.woff') format('woff'),url('typecons.ttf') format('truetype')
*
  padding: 0
  margin: 0
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

h1, h2, h3, h4, h5, h6
  @include lato
  letter-spacing: -0.06em
  a
    color: inherit

h2
  font-size: 2.500em

a
  color: inherit
  text-decoration: none
  &:hover
    text-decoration: underline

ul, li
  list-style-type: none

img
  display: block
  width: auto
  height: auto

.sp-button
  display: block
  position: relative
  background-image: url('sprite.png')
  background-repeat: no-repeat
  background-color: transparent
  border: none
  text-indent: -9999em

.px18
  font-size: 1.500em
.pull-left
  float: left
.pull-right
  float: right

.columns
  &:after
    content: ""
    display: block
    clear: both
    height: 0
.column
  float: left
  padding: 0 1em 0 1em
  &:first-child
    padding: 0 1em 0 0
  .col-2 &
    width: 50%
  .col-3 &
    width: 33.3%
  .col-4 &
    width: 25%
.viewport
  width: 100%
  overflow: hidden


//Tabs & tabbed content
.tabs
  height: auto
  width: 100%
  display: block
  border-bottom: 1px solid #333
  &:after
    content: ""
    display: block
    clear: both
    height: 0
    width: 100%
  & > li 
    float: left
    padding: 0 10px
    cursor: pointer
    color: #fff
    a 
      display: block
      color: inherit
      text-decoration: none
  .tabs-2 &
    & > li
      width: 50%
      text-align: center
  .sidebar &
    font:
      family: Proxima
      size: 1.5em
      weight: bold
    text-transform: uppercase
    -webkit-font-smoothing: antialiased
    letter-spacing: -0.06em
    border: none
    li
      background: #dfdfdf
      color: #a7a7a7
      height: 2em
      line-height: 2.2em
      text-align: center
      padding: 0 .57em
      &.active
        @include gradient-tb(#f38140, #e35049)
        color: #fff
      h2
        color: inherit
        font:
          family: Proxima
          size: 1em
          weight: bold
.tabbed-content
  & > *
    display: none
  & > .active
    display: block



//Dropdowns
.dropdown
  position: relative
  padding-right: 20px!important
  &:after
    content: "▼"
    position: absolute
    right: 5px
    top: 4px
    font: 
      family: Helvetica, Arial, sans-serif    
  .dropdown-content
    display: none
    position: absolute
    top: 100%
    left: 0
    z-index: 9
    background: #999
    & > li
      display: block
      width: 100%
      padding: 10px
      margin: 0
      border-right: none!important
      border-bottom: 1px solid #777
      border-top: 1px solid #bbb    
      a 
        color: #fff
        display: block
  &:hover
    .dropdown-content
      display: block
    

#panel-activity
  .tabs li
    height: 50px
    line-height: 50px
    text-transform: uppercase
    &.active
      background: rgba(0, 0, 0, .3)
  .tabbed-content
    position: absolute
    top: 51px
    width: 100%
    height: 100%
.activity-list
  border-top: 1px solid rgba(255, 255, 255, 0.2)
  height: 100%
  li 
    padding: 10px
    border-top: 1px solid rgba(255, 255, 255, 0.2)
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
    clear: both
    overflow: hidden
    
    &:first-child
      border-top: none

.activity-thumb
  float: left
  margin-right: 10px
  
  
//Layout
body
  font-size: bodyFontSize(12.0)
  position: relative
  width: 100%
  height: 100%
  @include lato
  @include gradient-tb(#c8c9cb, #ffffff)
  padding-top: pem(100)
  background-size: 100%  pem(285)
  background-repeat: no-repeat

header.main
  position: fixed
  top: 0
  left: 0
  z-index: 9
  width: 100%
  border-bottom: 2px solid #ed7938
  padding: .25em 0 0 0
  @include box-shadow($shadow)
  .tab-button
    @extend .tab-button
  a
    font-size: 1.167em

footer.main
  @include gradient-tb(#504f4f, #1e1e1e)
  margin-top: 3.333em
  .wrapper
    div
      width: 28.444em
      padding-top: 2.5em
      float: left
  p
    font: italic 1.167em 'Georgia', serif
    color: #f5f5f5
    margin-bottom: 0.666em
  .head
    @include proxima
    font-style: normal
    font-size: 2.500em
    color: #fff

.about
  padding: 0 2.5em
  .head
    height: 2.666em
    margin-bottom: 0.003em
    span
      display: inline-block
      background-position: -139px 0px
      width: 3.3em
      height: 1.9em
      top: -.84375em

  .social
    margin: 2.4em 0
    li
      position: relative
      float: left
      &.fb
        a
          background-position: -138px -59px
          width: 7.2em
          height: 1.5em
      &.tw
        position: relative
        top: .2em
        margin-left: .9em
        &:before
          content: ''
          display: block
          position: relative
          float: left
          border-right: 1px solid #fff
          height: 1.84375em
          top: -.2em
          left: -.6em
        a
          background-position: -138px -78px
          width: 6.3em
          height: 1.5em
  .brutal
    display: inline-block
    background-position: 0px -57px
    width: 8.8em
    height: 3.2em

.brands
  padding: 0 1.5625em 3em
  border-left: 1px solid #fff
  border-right: 1px solid #fff
  text-align: center
  p
    font-weight: bold
  .head + p + p
    font-weight: normal
  .benefits
    margin: 2em 0
    padding-top: 2em
    border-top: 1px dashed #989898
    font-size: 1.500em
  a
    color: #fba449

.gr-button, a.gr-button
  font-size: 1.500em
  padding: .5em
  border: none
  border-radius: .5em
  color: #fff
  text-transform: uppercase
  @include gradient-tb(#f47834, #e54c47)
  @include proxima

.newsletter
  padding: 0 1.25em
  input[type="textbox"]
    width: 100%
    margin-bottom: 1em
    display: block
    height: 2.666em
    padding-left: 1em
    border: none
    font: italic 1.167em 'Georgia', serif
    color: #403f3f
  .gr-button
    margin: .2em 0 2em

header.main
  background-color: #373737

.left-side, nav li
  display: block
  position: relative
  float: left
.right-side
  display: block
  position: relative
  float: right

.wrapper
  position: relative
  max-width: $max-width
  margin: 0 auto

.content
  width: 55.833em

.sidebar
  width: 27em


//General Modules
nav
  ul
    padding-top: pem(64)
    color: #fff
    li
      text-transform: capitalize
      &:first-child:before
        display: none
      &:before
        content: ''
        display: block
        position: relative
        float: left
        width: 2px
        height: 1.333em
        margin: 0 .416em
        @include gradient-tb(#f47834, #e54c47)

.to-home
  float: left
  margin-right: 1.666em
  img
    width: 11.65em
    height: 6.6em


.search-box
  position: relative
  top: -.333em
  width: 3.416666667em

  //TODO Terminar esta madre cuando nos hayan dado diseño de input activo.
  input[type=textbox]
    display: none
  .sp-button
    width: 2.1em
    height: 2.1em
    background-position: -180px -146px

.tab-button
  position: absolute
  @include lato
  text-transform: uppercase
  width: pem(141)
  height: pem(103)
  top: -.333333333em
  right: 0
  padding: pem(30) 1em pem(30)
  @include gradient-tb(#2b2b2b, #1b1b1b)
  @include box-shadow($shadow)
  color: #fff
  a
    letter-spacing: -0.06em
    font-size: pem(16)
    display: block
    position: relative
    height: pem(35)
    padding-left: 2.8em
    text-indent: 7px
    &:before
      content: ''
      display: block
      position: absolute
      left: 0
      width: 2.5em
      height: 3em
      background: url('crea.png') no-repeat 0 0
  .sp-button
    display: inline-block
    top: -0.4em
    width: 4.6em
    height: 1.9em
    background: url('boom_w.png') no-repeat 0 0

.card
  padding-bottom: 10px
  margin-bottom: 20px
  .user-thumb
    border: 3px solid #fff
    @include transition(all, 300ms)
    p
    color: #383838
    font-size: 2em
#profile-info
  width: 60%
  .user-thumb
    width: 37%
    margin-right: 3%
    img
      width: 100% 
  .info
    width: 60%
    float: left

#connect
  width: 40%

.rio
  margin-bottom: 20px
  font-size: .9em
.following
  li
    margin: 0 10px 10px 0

.connect

.user-panel
  display: block
  position: relative
  .second-level
    li
      float: left
      a
        color: #fff

.list
  position: relative
  h3, h2
    height: 2.5em
    overflow: hidden
  .image-block
    position: relative
  .category
    @include proxima
    position: absolute
    padding: 0 .666em
    text-transform: uppercase
    font-size: 1.167em
    line-height: 2.166em
    bottom: 0
    left: 0
    a
      color: #fff
  h2, h3
    margin-top: .666em
    a
      color: #313131
  .info
    font-weight: bold
    margin-top: .666em
    color: #8d8d8c

article
  @extend .list
  h1
    font-size: pem(40)
    margin-bottom: pem(6)
  h2, h3
    margin-top: 0
    height: auto
    overflow: auto
  .category
    font-size: pem(18)
  .summary
    color: #666666
    font-size: pem(16)
  .user-thumb
    position: absolute
    margin-top: pem(-27.5)
    top: 50%
  .info
    text-transform: uppercase
    font-weight: bold
    margin-top: 0
    color: #4d4d4d
    font-size: pem(18)
  .social-bar
    position: relative
    .multi-line
      width: pem(320)
      padding-left: 5.833333333em
    .social
      position: absolute
      right: 0
      top: 50%
      margin-top: pem(-10)
      width: pem(315)
      height: pem(20)
      p
        font:
          size: pem(14)
          weight: bold
        margin-right: 1.153846154em
        position: relative
        top: pem(1)
      *
        float: left

article.boom
  fieldset
    border: none
    
.masked-input-text
  background: none
  border: none
  h1 &
    font-size: inherit
    letter-spacing: inherit

section.boom-element
  margin-bottom: pem(30)
  .position
    position: absolute
    left: 0
    width: pem(65)
    height: pem(87)
    span
      font-size: pem(61)
    &.pos-1
      @include gradient-tb(#fba449, #e54e49)
      span
        color: #000
  .title-block
    width: 100%
    padding-left: pem(88)
    h2
      -webkit-font-smoothing: antialiased
      color: #fff
      font-weight: normal
      padding-right: 2.273em
      font-size: 1.833333333em
  .content-blocks
    padding: pem(40)
    background-color: #f6f6f6
    .block
      margin-top: 2.5em
      &:first-child
        margin-top: 0
    p
      font-size: pem(16)
    img
      margin: 0 auto
  .element-top
    background-color: #616161
    .multi-line, .title-block
      height: 7.25em
      
      
select.cosmatic
//  background: $orange
//  border: none
//  font-size: pem(18)
//  text-transform: uppercase
//  color: #fff
//  @include radius(0)
//  @include appearance(button)
//  @include proxima
//  option
//    background: #000!important
//    font-size: 10px

  

.more
  @include proxima
  text-align: center
  position: absolute
  width: 93.3%
  bottom: 1.25em
  a
    color: #cac9c9

.block-title
  position: relative
  padding-left: .9em
  @include proxima
  font-weight: bold
  text-transform: uppercase
  font-size: 3.000em
  color: #666666
  letter-spacing: -0.06em
  -webkit-font-smoothing: antialiased
  margin-bottom: .31em
  &:before
    content: ''
    display: block
    position: absolute
    top: .23em
    left: 0
    width: .71em
    height: .71em
    background-color: #ff3a1a

.small-list
  li
    clear: both

//Registration/Login bar
.user-panel
  
.bar-toggle
  padding: 20px 0
  
.quick-options
  li 
    display: block
    float: left
    text-transform: uppercase
    color: #333333
    margin-left: 10px
    padding: 3px 0px
    &:first-child
      margin-left: 0
      padding-right: 10px
      border-right: 2px solid #ff3a1a
    &:first-child + li
      color: #ff3a1a
    &.tw-login, &.fb-login
      @extend .social-login
    .second-level
      display: none

.social-login,  .tw-login, .fb-login
  color: #fff 
  font-weight: bold
  padding: 0
  a 
    display: inline-block
    padding: 3px 8px 3px 28px
    position: relative
    &:before
      display: inline-block 
      font-family: typecons
      text-transform: none
      font-weight: normal
      font-size: 16px
      line-height: 24px
      border-right: 1px solid rgba(0, 0, 0, .3)
      -webkit-font-smoothing: antialiased
      margin-right: 5px
      padding: 0
      position: absolute
      top: 0
      left: 0
      height: 100%
      text-align: center
      width: 23px
    &:after
      content: ""
      display: block
      width: 1px
      height: 100%
      position: absolute
      -webkit-font-smoothing: antialiased
      left: 22px
      top: 0
      border-left: 1px solid rgba(255, 255, 255, .3)  
    
.tw-login
  background: #09afe3
  a:before
    content: "t"
    
.fb-login
  background: #3e5b89
  a:before
    content: "f"

.social
  li 
    display: block
    float: left
    margin-right: 10px
    
.tw-follow
  font: 
    size: 1.2em
  h2
    font: 
      size: 1em
    display: inline
  a:before
    content: "t"
    display: inline 
    font-family: typecons
    font-size: 16px
    padding: 0 7px 0 10px
    color: #09afe3
    position: relative
    top: 2px
.panel
  background: #666
  position: relative
  width: 300%
  left: -5%
  padding-left: 5%
  color: #fff
  @include box-shadow(inset 0 0 30px rgba(0, 0, 0, .7))
  &::before
    content: ""
    display: block
    height: 100%
    width: 100%
    background: #666
    position: absolute
    left: -95%
    top: 0
    @include box-shadow(inset 30px 0 30px rgba(0, 0, 0, .7))
    box-sizing: content-box!important
  a 
    color: $orange
    &.tw-connect, &.fb-connect
      @extend .link-connect
  & > .cf
    width: $max-width
  .is-open &
    margin-bottom: 20px  
    
.trigger
  @include selectable(none)
  cursor: pointer  
   
#panel-trigger
  @extend .trigger
  
#panel-wrap
  width: $max-width
  overflow: hidden
  position: relative
.profile
  padding: 30px 0
  width: 58.366633em
  h3
    text-transform: uppercase
    font-weight: normal
    margin-bottom: 10px
.profile-info

.profile-username
  font: 
    size: pem(20.0)
    family: Proxima
    weight: normal
  text-transform: uppercase
  color: #fff
  a 
    color: inherit
.bio
  margin-top: 20px

.options
  display: block
  overflow: hidden
  li 
    float: left
    margin-left: 10px
    border-left: 1px solid #fff
    padding-left: 10px
    &:first-child
      margin-left: 0
      padding-left: 0
      border-left: none
  .profile &
    text-transform: uppercase
    li 
      border-color: $orange

.link-connect
  color: #fff
  display: block
  clear: both
  margin-bottom: 20px
  line-height: 25px
  &:before
    content: ""
    display: block
    float: left
    background: #333
    width: 25px 
    height: 25px
    margin-right: 5px

#panel-activity
  height: 100%
  position: absolute
  width: 27em
  background: rgba(0, 0, 0, .3)
  right: 0
  top: 0
.activity
  display: none

//Slider
.slider
  width: 100%
  overflow: hidden
  margin-bottom: 4.166em

  .nav
    position: absolute
    width: 100%
    height: 31.833em
    a
      position: absolute
      z-index: 8
      width: 3.166em
      height: 6.25em
      top: 50%
      margin-top: -2.666em
      &.prev
        left: 0
        background-position: -1px -146px
      &.next
        right: 0
        background-position: -39px -146px

  .info
    @include lato
    width: 28.2em
    padding: 4.166em 6.666em 0 3.333em
    .author
      margin: 1.25em 0 1.666em
      font-size: 1.5em
      a
        color: #f77834
    .excerpt
      font-size: 1.166em

  .thumbs
    background: #000
    padding: .5em 0 .5em .416em
    li
      margin: 0 .25em
      border: 3px solid #000
      &.is-active, &:hover
        border-color: #fba449

.slides
  width: 597.333333333em
  li
    width: $max-width

//Booms blocks
.cols-2
  .boom
    width: 27.25em
    margin-bottom: 3.333em
  .odd
    float: left
  .even
    float: right
    & + .small-thumb
      margin-left: 0

.cols-3 .boom, .cols-2 .small-thumb
  width: 18.083333333em
  margin-left: .75em
  h3, h2
    font-size: 1.333em

.cols-3
  .first
    margin-left: 0
    margin: 0
  .boom
    margin-bottom: 2.916666667em

//Weekly
.weekly
  ul
    background: #434343
    li
      padding: 0
      .title-block
        border-top: 1px solid #484848
        &:first-child
          border-top: none

  .title-block
    width: 37.083333333em
    float: left
    padding: 0 5em 0 2.083333333em
    .title
      height: auto
      margin-top: 0
      a
        color: #fff
        font-weight: normal

.multi-line
  display: table-cell
  vertical-align: middle

.multi-line, .title-block
  height: 7.416666667em

.position
  width: 5.583333333em
  height: 7.5em
  text-align: center
  @include proxima
  @include gradient-tb(#504f4f, #1e1e1e)
  span
    position: relative
    font-size: 5.25em
    line-height: 0
    color: #f67834
    top: 50%
    margin-top: -2.791666666em


.block-sidebar
  margin-bottom: 2em

.bordered
  border: 1px solid #dfdfdf

.row-list
  li
    padding: 10px 10px
    position: relative
    min-height: 80px
    background: #fff

    &:nth-child(even), &.even
      background: #f2f2f2

//Tops
.toggle-box
    

  .tabbed-content
    @extend .bordered
    & > *
      display: none
    & > .active
      display: block
    ul
      @extend .row-list
      li 
        padding: 10px 10px 10px 80px
        .left-side
          position: absolute
          top: 10px
          left: 10px
        h3
          font: 
            size: 1.12em
          color: #555555
        .author
          color: #f47a37
          font:
            weight: bold

.daily
  color: #4a4949
  .row-list 
    li 
      padding: 10px 10px 10px 42px
      background: #f2f2f2
      &.even, &:nth-child(even)
        background: #fff
      .position 
        width: 24px
        height: 24px
        line-height: 24px
        color: #f57938
        position: absolute
        left: 10px
        top: 10px
  h4
    font:
      family: Proxima
    text-transform: uppercase
    color: #464545

  h3
    padding: 10px
    font: 
      family: Proxima
      size: 2em
    text-transform: uppercase
    color: #666
    line-height: .9em

//Ver más para sidebar
.block-sidebar .more
  @include gradient-tb(#f47b38, #e35049)
  display: block
  width: 100%
  color: #fff
  padding: 10px
  bottom: 0
  text-transform: uppercase
  font-size: 1.2em
.bordered .more
  margin-left: -1px

//Block title en sidebar
.block-sidebar .block-title
  font-size: 2em
  padding: 0 0 10px
  margin-bottom: 0
  &::before
    display: none
  &::after
    content: ""
    display: block
    width: 100%
    height: 3px
    position: absolute
    bottom: 0
    left: 0
    @include gradient-tb(#f47b38, #e35049)

#tops
  @extend .toggle-box
  .selector
    li
      padding: 0 .56em

.daily
  @extend .toggle-box



//Category color
.cat-1
  .category
    background-color: #009a53

.cat-2
  .category
    background-color: #ff2d3b

.cat-3
  .category
    background-color: #c38228

.cat-4
  .category
    background-color: #8e004a

.cat-5
  .category
    background-color: #720cd7

.cat-6
  .category
    background-color: #0f89f8

.cat-7
  .category
    background-color: #ff3a1a

.content a
  color: #f67834

/* Helpers{{{ */
.cf:after
  content: ""
  display: block
  clear: both
.cf
  zoom: 1
.hidden
  display: none
/* }}} */
